<settings>
	<category label="General">
		<setting visible="true" type="bool" default="false" id="select-puzzle" 	label="Select Puzzle" />
		<setting visible="true" type="bool" default="true" id="show-map" 	label="Show map" />
		<setting visible="true" type="bool" default="false" id="show-maplocation" 	label="Show location on the map" enable="!eq(-1,false)" />
		<setting visible="false" type="text" id="txt-winner"	default="WINNER"	label="WINNER" />
		<setting visible="false" type="text" id="txt-loser"	default="LOSER"	label="LOSER" />
		<setting visible="false" type="text" id="txt-beats"	default="beats"	label="beats" />
		<setting visible="false" type="text" id="txt-draw"	default="DRAW"	label="DRAW" />
		<setting visible="false" type="text" id="txt-noonewins"	default="NO ONE WINS"	label="NO ONE WINS" />
		<setting visible="false" type="bool" default="false" id="debug-enable" 	label="Enable Debugging to File" />
		<setting visible="false" type="bool" default="false" id="debug-show" 		label="Enable Debugging to Notice(s)" />
	</category>
</settings>